#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "topbar"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}


.topbar {
  grid-area: topbar;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  gap: 2rem;
  border-bottom: 1px solid #eee;
}






