:root {
  font-family: "Gorditas", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #edefee;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --max-width: 1280px;        /* coincide con el contenedor de tu app */
  --footer-height: 100px; 
}


body {
  margin: 0;
  display: flex;
  padding-top: 75px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 40pt;
  line-height: 1.1;
  font-style: normal;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18pt;
  font-style: normal;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #9c9e19;
  }
  /* Botón estilizado globalmente en App.css */
}
